header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: $white-normal;
}

.header-icons {
  display: flex;
  gap: 0.875rem;

  a {

    &:hover {
      i {
        color: $red-light;
        animation: translateY 0.8s infinite alternate;

      }
    }
  }
}

.header-button{
  border: 0.0625rem solid $white-normal;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  color: $white-normal;
  transition: background 0.3s;

  &:hover{
    border: 0.0625rem solid $red-light;
    background: $red-light;
  }
}

.header-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.875rem;
}


@media screen and (max-width: 48rem){
  .header-content{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    i{
      margin-top: 1rem;
      font-size: 2.125rem;
    }
  }

  .header-logo img{
    width: 10rem;
    margin-top: 2.875rem;
  }

  .header-button{
    display: none;
  }
}

@keyframes translateY{
  from{
    transform: translateY(0) scale(1);
  }
  to{
    transform: translateY(-8px) scale(1);
  }
}